.header-step {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  @media (max-width: 800px) {
    display: none;
  }

  .header-step-image {
    background-image: url("../public/assets/assets/Form-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    width: 50vw;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
  }

  .header-step-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
    width: 500px;

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.3rem
    }

    .diamonds {
      display: flex;
      margin-top: 30px;

      .diamond {
        padding: 20px;
        margin: 5px;
        transform: rotate(45deg);
        border: 1px solid $color-grey;
      }

      .diamond-info {
        height: 60px;
        transform: rotate(-45deg);
        vertical-align: middle;
        position: relative;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          font-size: 1.2rem;
          position: absolute;
          top: -25px;
          left: 25px;
        }
      }
    }
  }
}

.header-step-mobile {
  background: $color-grey-white;
  text-align: center;
  @include mobile-min {
    display: none;
  }

  .header-step-mobile-title {
    font-size: 4vw;
    padding: 30px;
    font-weight: bold;

    h1 {
      margin-bottom: 30px;
    }
  }
}

.steps-mobile {
  display: flex;
  justify-content: space-around;
  margin: 30px;

  .step-mobile {
    width: 8vw;
    height: 8vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4vw;
    border: none;
    box-shadow: 5.3px 6.7px 7px rgba(0, 0, 0, 0.02),
    17.9px 22.3px 23.5px rgba(0, 0, 0, 0.085),
    80px 100px 105px rgba(0, 0, 0, 0.07);
    @include mobile-min {
      display: none;
    }

    a {
      text-decoration: none;
      color: $color-light-grey;
    }
  }

  .step-mobileControl {
    background: $color-yellow;
    border: 1px solid black;

    a {
      color: $color-grey;
    }
  }
}

.step-content {
  height: 800px;
  margin-top: 50px;
  background: $color-grey-white;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .step-content-alert {
    background: $color-yellow;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .step-content-info {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    @include mobile {
      margin-top: 20px;
    }

    .step-content-center {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
        align-items: center;
        background: transparent;
        height: 100%;
        position: absolute;
        z-index: 5;
      }

      .steps {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
          align-items: center;
          position: absolute;
          height: 0;
          font-size: 1.3rem;
          color: black;
          width: 80vw;
          font-weight: 500;

          h2 {
            margin-bottom: 40px;
            text-align: center;
          }
          p {
          }
          .button {
            margin-top: 40px;
          }
          .bags {
          }
        }

        p {
          color: $color-light-grey;
        }

        h2 {
          font-size: 1.4rem;
          font-weight: bold;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          label {
            display: flex;
            align-items: center
          }

          input[type="radio"] {
            border: 1px solid $color-grey;
            background-color: #ddd;
            cursor: pointer;
            height: 30px;
            margin-right: 15px;
            position: relative;
            width: 30px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          input[type="radio"]:checked {
            background-color: $color-yellow;
            cursor: pointer;
            height: 30px;
            margin-right: 15px;
            position: relative;
            width: 30px;
          }
        }

        .bags {
          display: flex;
          align-items: center;
          flex-direction: row;


          ::-webkit-details-marker {
            display: none;
          }

        }

        .step-who-help form {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }


        @mixin hideInput {
          display: none
        }

        .toggle {
          display: flex;
          flex-wrap: wrap;
          @include mobile {
            justify-content: center;
          }

          input {
            width: 0;
            height: 0;
            margin: 10px;

          }

          input[type="radio"] {
            border: none;
            cursor: pointer;
            height: 0px;
            margin-right: 0px;
            position: unset;
            width: 0;
          }

          input {
            @include hideInput;
          }

          input + label {
            padding: 10px 20px;
            border: solid 1px $color-grey;
            cursor: pointer;
            margin: 10px;

          }

          input:checked + label {
            background-color: $color-yellow;
          }

        }

        .step-text {
          @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          textarea {
            margin-top: 20px;
            width: 200px;
            background-color: $color-grey-white;
            outline: none;
            resize: none;
            font-family: $font-base;
          }
        }


        .button {
          display: flex;

          :hover {
            border: 1px solid $color-yellow;
          }
        }

        .btn {
          width: 100px;
          padding: 20px 60px;
          border: 1px solid $color-grey;
          text-decoration: none;
          color: $color-grey;
          display: flex;
          justify-content: center;
          margin: 20px;
        }

        .summary {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          @include mobile {
            margin-top: 30px;
          }
          .summary-title {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 1.1rem;
          }

          .summary-center {
            width: 400px;
            @include mobile {
              width: 80%;
            }
          }
        }

        .summary-term {
          display: flex;
          flex-direction: column;
          margin-left: 5px;
        }
      }

      .summary-value {
        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 10px 0;
          b {
            font-weight: bold;
            margin-right: 10px;
          }
          @include mobile {
            justify-content: normal;
          }

          input {
            background: $color-grey-white;
            border: 1px solid $color-grey;
            height: 20px;
          }

          textarea {
            width: 190px;
            height: 60px;
            background-color: $color-grey-white;
            outline: none;
            resize: none;
            font-family: $font-base;
            border: 1px solid $color-grey;

          }
        }
      }
    }


    .back {
      h3 {
        font-weight: bold;
        padding-bottom: 10px;

      }

      .back-info {
        div {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .bags-step2 {
    margin-left: 50px;
  }

  .bags-step4 {
    @include mobile {
      margin-bottom: 50px
    }
  }

  .steps-background {
    background-image: url("../public/assets/assets/Background-Form.jpg");
    background-size: cover;
    background-position: right;
    width: 450px;
    height: 500px;
    @include mobile {
      display: none
    }

    //.step-back {
    //  width: 100%;
    //  height: 100%;
    //}
  }
}

.step3-content {
  @include mobile-mini {
    margin-bottom: 100px;
  }
}

.steps-background-mobile {
  @include mobile {
    background-image: url("../public/assets/assets/Background-Form.jpg");
    background-size: cover;
    background-position: right;
    width: 450px;
    height: 500px;
    filter: blur(5px) opacity(0.30);
    display: flex;
    justify-content: center;

    .step-back {
      width: 100%;
      height: 100%;
    }
  }
}

.step5 {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 700px;
}

.steps-icon4 {
  background-image: url("../public/assets/assets/Icon-4.svg");
}

.step {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 100%;
  flex-direction: column;
}

.steps-goodbye {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 1.6rem;
  }
}
