@import "./settings/_colors.scss";
@import "./settings/_fonts.scss";
@import "reset";
@import "settings/mixins.scss";
@import "Home.module";
@import "FoursSteps";
@import "HomeThreeColumns";
@import "Question";
@import "Footer";
@import "YellowBanner";
@import "AboutUs";
@import "Login";
@import "Register";
@import "Logut";
@import "Step";

body {
font-family: $font-base;
  font-size: 16px;
  color: $color-grey;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}